.main{
    background: url('../img/main.jpg') no-repeat center center / cover;
    padding: 90px 0 155px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    margin-bottom: 200px;
}

.pre_title{
    color: black;
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0;
}

.pre_title_block{
    background: #fff;
    padding: 8px 17px;
    border-radius: 78px;
    margin-bottom: 24px;
}
.title{
    font-family: Montserrat;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    font-size: 60px;
    margin: 0;
    margin-bottom: 24px;
}
.text{
    font-family: Montserrat;
    font-weight: 500;
    color: #fff;
    font-size: 20;
    margin: 0;
    margin-bottom: 24px;
}
.link {
    font-family: Montserrat;
    font-weight: 800;
    color: #fff;
    font-size: 16px;
    margin: 0;
    text-decoration: none;
}
.link_block{
    background: #ff7e36;
    padding: 18px 52px;
    border-radius: 78px;
    margin-bottom: 140px;
}

/* 2 section */

.container{
    width: 1140px;
    margin: 0 auto;

}

.title2{
    font-family: Monserrat;
    font-weight: 800;
    color: #304041;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

.ways{
    padding-top: 155px;
}

.ways__title2{
    margin-bottom: 98 px;
}

.ways__subtitle{
    font-size: 24px;
    margin-bottom: 40px;
    text-align: left;

}

.ways__box{
    display: flex;
    margin-bottom: 90px;
}
.ways__texts{
    background: #ff7e36;
    padding: 110px 75px;
}
.ways__btn{
    color: #ff7e36;
    font-weight: 800px;
    font-size: 16px;
    font-family: Montserrat;
    text-decoration: none;
    padding: 17px 49px;
    border: 1px solid #ff7e36;
    border-radius: 78px;
}

.ways__button{
    text-align: center;   
}

.posiblities__text1{
    margin-bottom: 100px;
    font-family: Monserrat;
    font-weight: 1000px;
    color: #304041;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}